<h1>Crear un nuevo producto</h1>
<hr />
<form action="/products" method="post">
    Title: <input type="text" name="title" ><br>
    Description: <input type="text" name="description" ><br>
    Code: <input type="text" name="code" ><br>
    Price: <input type="text" name="price" ><br>
    Stock: <input type="number" name="stock" ><br>
    Category <input type="text" name="category" ><br>
    Thumbnails: <input type="text" name="thumbnail" ><br>

    <input type="submit" value="Create Product">
</form>